*{
    --60:#ecf1e9;
    --60-glow:#f3faef;
    --30:#def3fa;
    --10:#1b838c;
    --10-glow:#289ea9;
}
.center{

    width: 100%;
    height: 100%;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box
{

    border: 1px solid black;
    width: 100%;
    max-width: 450px;
    /* background-color: red; */
    padding: 30px 50px 30px 30px;
    background-color: var(--30);
}

input[type="submit"], input[type="button"], button
{
    background-color: var(--10);
    color: white;
}

a{
    color: var(--10);
}

.navbar{
    background-color: var(--10) !important;
}

.navbar a{
    color:var(--60);
}
.navbar-toggler-icon{
    color:white !important;
}

.navbar .avatar{
    width:40px;
    border: 2px solid white;
}

.navbar button{
    background-color: var(--10);
    border:0px;
    box-shadow: 0px;
}
.navbar button:hover, .navbar button:focus, .navbar button:active{
    background-color: var(--10-glow);
    border: 0px solid var(--60-glow);
    box-shadow: 0;
}

.right-avatar:hover{
    background-color: white;
    padding:1px;
    border-radius: 1px;
}

.dropdown-menu li a{
    color:black;
}

button:hover, a.btn:hover{
    background-color:var(--10-glow) !important;
}