{% extends 'base.html' %}
{% load static %}
{% block load_lib %}
<link rel="stylesheet" href="{% static 'user/css/signup.css' %}">
<script src="{% static 'user/js/signup.js' %}"></script>
{% endblock %}
{% block body %}
<div className="center">
    <div className="box">
        <form className="signup" action="" method="post">
            {% csrf_token %}
            <input className="form-control" required type="text" name="email" id="" placeholder="Enter Your Email Id">
            <div className="invalid-feedback">
                Please write a valid Email Id.
            </div>
            <input className="form-control " required type="text" name="reg_no" id=""
                placeholder="Enter Your Registration Number">
            <div className="invalid-feedback">
                Please write a valid Registration Number.
            </div>
            <input className="form-control" required type="password" name="password" id="" placeholder="New Password">
            <input className="form-control" required type="password" name="confirm_password" id=""
                placeholder="Confirm Password">
            <div className="invalid-feedback">
                Password didn't matched.
            </div>
            <input className="form-control" type="submit" value="Sign Up">
            <span>Already have account? <a href="{% url 'user:login' %}">Login</a></span>
        </form>
    </div>
</div>
{% endblock %}