.content{
    height: 100%;
    padding-bottom:20px;
    padding-top:20px;
    display: flex !important;
    flex-wrap: wrap;
    gap:20px;
    background-color: var(--60);
    justify-content: center;
}
.content .card{
    background-color: var(--30);
}

.content .card a{
    background-color: var(--10);
}

.fa-solid.fa-plus{
    transform: scale(4);
    color: var(--10);
}

.dotted-circle{
    border-radius: 50%;
    border: 4px dashed var(--10);
    width:100px;
    height:100px;
    position: absolute;
}
.dotted-circle:hover{
    border-color: var(--10-glow);
}
.card{
    transition: all 0.1s ease-in-out;
}
.card:hover{
    transform: scale(1.1);
    cursor: pointer;
}